/* Carrito */

.mostrar-carrito {
    display: none !important;
}

.carrito {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #2c73d2, #237bd7, #1983dc, #0d8ae0, #0392e4, #0392e4, #0392e4, #0392e4, #0d8ae0, #1983dc, #237bd7, #2c73d2);
    position: fixed;
    z-index: 3;
    margin-top: 62px;
    height: calc(100vh - 62px);
    width: 360px;
    right: 0;
    top: 0;
    border-left: 1px solid map-get($colores, color-4);
    border-bottom: 1px solid map-get($colores, color-4);
}