/* CardDetalle */

.contenedor__detalle {
    overflow-y: scroll;
    background-color: map-get($colores, color-2);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 61px;
    
    .ItemDetail__foto {
        width: 300px;
        aspect-ratio: 1/1;
        background-color: white;
        margin-top: 30px;
    }
    .ItemDetail__texto {
        color: map-get($colores, color-4);
        width: 40%;
        min-width: 300px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
        text-align: justify;
    }
}