/* CardDetalle */

.ItemDetail {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .ItemDetail__contenedor {
        margin: -20px 30px 30px 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .contenedor__foto {
            width: 300px;
            aspect-ratio: 1/1;
            background-color: white;
        }
        .contenedor__texto {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: flex-start;
            h4 {
                color: map-get($colores, color-4);
            }
        }
    }
    .contenedor__descripcion {
        width: 40%;
        text-align: justify;
        color: map-get($colores, color-4);
        min-width: 300px;
    }
}