/* Checkout */

#Checkout {
    margin: 0px 30px 30px 30px;
    text-align: center;
    width: 80%;
    min-height: calc(100vh - 478px);
    .barra {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        color: map-get($colores, color-4);
        margin: 0px 30px 30px 30px;
        input {
            width: 50%;
            height: 40px;
            border-radius: 20px;
            min-width: 300px;
            text-align: center;
        }
    }
    #Boton {
        margin: 0px 10px 0px 10px;
        background-image: linear-gradient(to right, #2c73d2, #237bd7, #1983dc, #0d8ae0, #0392e4, #0392e4, #0392e4, #0392e4, #0d8ae0, #1983dc, #237bd7, #2c73d2);
        color: map-get($colores, color-2);
        border: 2px solid map-get($colores, color-2);
        &:active {
            scale: 1.1;
        }
    }
}