/* Formulario */

#Formulario {
    width: 30%;
    min-width: 300px;
    margin: 30px;
    color: map-get($colores, color-2 );
    text-align: center;
    .input, .textarea {
        text-align: center;
        box-shadow: 2px 2px 2px map-get($colores, color-4);
    }
    .textarea {
        height: 125px;
        margin-bottom: 20px;
    }
    #Boton, button {
        margin: 0px 5px 0px 5px;
    }
    #exampleFormControlInput1 {
        margin-bottom: 20px;
    }
}