/* Formulario */

#Formulario {
    width: 30%;
    min-width: 300px;
    margin: 30px;
    color: map-get($colores, color-2 );
    text-align: center;
    .input, .textarea {
        text-align: center;
    }
    .textarea {
        height: 125px;
    }
    #Boton {
        margin: 0px 5px 0px 5px;
    }
}