/* ItemCount */

#ItemCount {
    display: flex;
    flex-flow: column  wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .ItemCount__controles {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .svg {
            width: 40px;
            height: 40px;
            color: map-get($colores, color-4);
            border: 1px solid map-get($colores, color-4);
            border-radius: 10px;
            background-color: map-get($colores, color-2);
            box-shadow: 2px 2px 2px map-get($colores, color-4);
            &:active {
                scale: 1.1;
            }    
        }
        .controles__numero {
            text-align: center;
            font-size: 26px;
            color: map-get($colores, color-2);
        }
    }
}