/* Item */

#Item {
    width: 300px;
    aspect-ratio: 1/1.7;
    border: 2px solid map-get($colores, color-4);
    border-radius: 20px;
    margin: 0px 30px 30px 30px;
    overflow: hidden;
    box-shadow: 2px 2px 2px map-get($colores, color-4);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-image: linear-gradient(to right, #2c73d2, #237bd7, #1983dc, #0d8ae0, #0392e4, #0392e4, #0392e4, #0392e4, #0d8ae0, #1983dc, #237bd7, #2c73d2);
    .Item__boton {
        text-align: center;
        width: 100%;
        #Boton {
            margin-bottom: 20px;
        }
    }
}