/* ItemListContainer */

.main {
    background-color: map-get($colores, color-2);
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
