/* Logo */

.logo {
    margin-bottom: -5px;
    .logo__texto {
        color: map-get($colores, color-2);
        text-decoration: none;
        &:hover {
            color: map-get($colores, color-4);
        }
    }
}