/* Mobile */

@mixin mobile ($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
    
        @content;
    }
}

/* 0px & 433px */
@include mobile(0px, 433px) {
    #CarritoItem {
        flex-flow: column nowrap;
        gap: 10px;
        text-align: center;
    }
    #Footer {
        flex-flow: column-reverse wrap;
        #Logo {
            margin: 30px 30px -20px 30px;
        }
        #Links {
            margin: -10px 30px 30px 30px;
        }
    }
    #ModalAdm, #Ingreso {
        display: none;
    }
}

/* 0px & 481px */
@include mobile(434px, 481px) {
    #CarritoItem {
        flex-flow: column nowrap;
        gap: 10px;
        text-align: center;
    }
    #Footer {
        flex-flow: column-reverse wrap;
        #Logo {
            margin: 30px 30px -20px 30px;
        }
        #Links {
            margin: -10px 30px 30px 30px;
        }
    }
    #ModalAdm, #Ingreso {
        display: none;
    }
}

/* 482px & 850px */
@include mobile(482px, 850px) {
    #CarritoItem {
        flex-flow: column nowrap;
        gap: 10px;
        text-align: center;
    }
    #Footer {
        flex-flow: column-reverse wrap;
        #Logo {
            margin: 30px 30px -20px 30px;
        }
        #Links {
            margin: -10px 30px 30px 30px;
        }
    }
    #ModalAdm, #Ingreso {
        display: none;
    }
}

/* 851px & 906px */
@include mobile(851px, 906px) {
    #CarritoItem {
        flex-flow: column nowrap;
        gap: 10px;
        text-align: center;
    }
    #ModalAdm, #Ingreso {
        display: none;
    }
}   

/* 907px & 1200px */
@include mobile(907px, 1200px) {
    #ModalAdm, #Ingreso {
        display: none;
    }
}   