/* Titulo */

#Titulo {
    text-align: center;
    color: map-get($colores, color-4);
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    .Titulo__categorias {
       padding: 30px;
    }   
}