/* TotalPagar */

#TotalPagar {
    .TotalPagar__total {
        color: map-get($colores, color-2);
        text-align: center;
        margin-top: 30px;
    }
    #Boton {
        margin: 10px 30px 30px 30px;
        text-align: center;
        line-height: 1.8;
    }
}
